* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Pokemon", sans-serif;
}

header {
    width: 80%;
    margin: 0 auto;
    min-height: 430px;
    background: url("../imgs/pokemonBanner.jpg");
    background-repeat: no-repeat;
    position: relative;
}

.pokemon-search {
    position: absolute;
    top: 200px;
}

label {
    font-size: 30px;
    letter-spacing: 2px;
}

input[type="submit"] {
    width: 80px;
    height: 40px;
    letter-spacing: 5px;
}
