*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #8fc1d4;
}

h1 {
  text-align: center;
  margin-top: 20px;
  color: #fff;
}

.container-form {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 50%;
}

.user-info-field {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

label {
  color: #fff;
}

.container-table {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.table-wrapper {
  width: 100%;
  background-color: #fff;
  border-radius: 15px;
}

table {
  width: 100%;
  padding: 10px;
}

th,
td {
  font-size: 20px;
}

a {
  text-decoration: none;
  font-size: 2.5rem;
  margin: 0 5px;
}

.fb-color {
  color: #3b5998;
}

.tw-color {
  color: #00acee;
}

.yt-color {
  color: #c4302b;
}

.gh-color {
  color: #171515;
}

.ig-color {
  color: #dd2a7b;
}
