*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(0, 84, 166, 1) 0%,
    rgba(132, 189, 201, 1) 90%
  );
  font-family: "Poppins", sans-serif;
}

h1 {
  text-align: center;
  margin-top: 20px;
  color: #fff;
}

.container-table {
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-wrapper {
  width: 100%;
  background-color: #fff;
  border-radius: 15px;
}

table {
  width: 100%;
  padding: 10px;
}

th,
td {
  font-size: 20px;
}

a {
  text-decoration: none;
  font-size: 2.5rem;
  margin: 0 5px;
}

.fb-color {
  color: #3b5998;
}

.tw-color {
  color: #00acee;
}

.yt-color {
  color: #c4302b;
}

.gh-color {
  color: #171515;
}

.ig-color {
  color: #dd2a7b;
}
